<!doctype html>
<html lang="pt-BR" translate="yes">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/global.css" type="text/css" />

    <link rel="stylesheet" href="/styles/components/buttons.css" />
    <link rel="stylesheet" href="/styles/components/toast.css" />
    <link rel="stylesheet" href="/styles/pages/dashboard.css" type="text/css" />

    <script
      defer
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    ></script>

    <script defer type="module" src="/scripts/dashboard.js"></script>

    <title>Bem-vindo(a) <%= user.name %></title>
  </head>
  <body data-id="body">
    <div class="app" data-id="app">
      <div class="container" data-id="container">
        <aside class="sidebar" data-id="sidebar">
          <div class="sidebar-profile">
            <div class="sidebar-profile__avatar">
              <img src="<%= user?.gravatar  %>" alt="<%= user.name %>" />
            </div>

            <span class="sidebar-profile__name"
              ><%= user.name.split(' ')[0] %></span
            >

            <span class="sidebar-profile__membership"
              >Membro desde: <%= new Date(user.createdAt).toLocaleDateString()
              %></span
            >
          </div>

          <div class="sidebar-menu">
            <ul class="sidebar-menu__links">
              <!-- <li class="sidebar-menu__link">
                <a href="" class="sidebar-menu__anchor">
                  <img src="/icons/person.svg" alt="Person icon" />
                  Perfil
                </a>
              </li>

              <li class="sidebar-menu__link">
                <a href="" class="sidebar-menu__anchor">
                  <img src="/icons/person.svg" alt="Person icon" />
                  Configurações
                </a>
              </li> -->

              <li class="sidebar-menu_link sidebar-menu_link--logout">
                <a class="sidebar-menu__anchor" data-id="logout">
                  <img src="/icons/leave.png" alt="Encerrar sessão" />
                  Sair
                </a>
              </li>
            </ul>
          </div>
        </aside>

        <div class="content" data-id="content">
          <p class="user-id" title="ID usuário">Usuário: <%= user.id %></p>
        </div>
      </div>
    </div>

    <%- include('../components/toast.ejs') %>
  </body>
</html>
